header {
  text-align: center;
  background-color: #eeeeee;
  padding: 2%;
  position: sticky;
}

a {
  margin: 0 2%;
  color: #333333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}

nav button {
  font-weight: 800;
  border: solid 2px;
  cursor: pointer;
}
