<div class="landing-block">
  <img
    src="https://user.oc-static.com/upload/2021/11/11/16366495596929_snapface.png"
    alt="logo"
  />
  <div class="landing-links">
    <button (click)="onContinueToApp()">Continuer vers l'application</button>
    <p>
      Temps depuis l'arrivée sur la page :
      {{ elapsedSeconds | hoursMinutesSeconds }}
    </p>
    <p>Nombre généré : {{ interval$ | async }}</p>
  </div>
  <hr />
  <div class="newsletter">
    <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
      <label for="emailInput" class="newsletter-el"
        >Recevoir la newsletter à :
      </label>
      <input
        type="email"
        id="emailInput"
        name="userEmail"
        [ngModel]="userEmail"
        class="newsletter-el"
      />
      <button type="submit" class="newsletter-el">OK</button>
    </form>
  </div>
</div>
