.landing-block {
  text-align: center;
  margin-top: 1%;
}

.landing-links {
  width: 100%;
  text-align: center;
}

button {
  font-size: 120%;
  font-weight: 500;
  margin-top: 2%;
  padding: 1%;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #777777;
  background-color: white;
  cursor: pointer;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}
